@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'social1.scss';
@import 'social2.scss';
@import 'social3.scss';
@import 'social4.scss';
@import 'social5.scss';
@import 'social6.scss';
@import 'social7.scss';
@import 'social8.scss';
@import 'social9.scss';






section
{
	border-radius: .5rem;
	box-shadow: 0 5px 5px rgba(0,0,0,.5);
	padding-bottom: 7rem !important;

	width:90%;
	margin:3rem auto;
	text-align:center;
	font-family: "Montserrat";
	padding: 3rem;
}

h2
{
	color: #36454f;
	text-transform: uppercase;
	font-size: 2rem;
	margin-bottom: 6rem;
}






